body,html {
    width: 100%;
    min-height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li, ol {
    list-style: none;
}

.center1200 {
    width: 1200px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: normal;
}

.weui-tabbar {
    background-color: rgba(224,224,224, 1);
}
.weui-tabbar__label {
    color: rgba(30, 30, 30, 1);
}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon > i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
    background-color: rgba(238, 57, 35, 1); 
    color: rgba(240, 240, 240, 1) !important;
}

.weui-tabbar__item {
    border-right: 1px solid rgba(255, 255, 255, 1);
}

.weui-btn_primary {
    background-color: #ee3923;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
    background-color: #ce0000;
}

.weui-btn_plain-primary {
    background-color: #ee3923;
    color: #fff;
    border-color: #ce0000;
}

.weui-btn_plain-primary:not(.weui-btn_plain-disabled):active {
    color: #fff;
}

.weui-btn,
.weui-btn:after {
    border-radius: 0;
}

.weui-grid {
    width: 25%;
}

.ft-nav {
    z-index: 0;
}
.second-hd {
    z-index: 0;
}
.bd-wrap {
    z-index: 10;
}