@import '_base';
@import 'slick';

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
    color: #ee3923;
}

.bd-wrap {
    text-align: left;
    .weui-cells {
      font-size: 14px;
    }
  }

  .weui-icon_toast {
    font-size: 55px;
    margin-bottom: 6px;
  }