/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    height: 100%;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    position: absolute;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.carousel {
    .slick-arrow {
        position: absolute;
        z-index: 111;
    }
    .slick-dotted.slick-slider
    {
        margin-bottom: 30px;
    }
    .slick-dots
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    .slick-dots li
    {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 20px;
        margin: 0 2.5px;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots li button
    {
        padding: 5px;
        cursor: pointer;
        color: transparent;
        background: transparent;
    }
    .slick-dots li button:before
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 6px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #d8d8d8;
        content: '';
    }
    .slick-dots li.slick-active button:before
    {
        background-color: #6474e6;
    }
    .slick-dots li button:focus {
        outline: none;
    }
    .slick-dots li button::-moz-focus-inner {
         border-color: transparent;
    }
}

.slick-arrow {
    border: none;
    background: transparent;
    outline: none;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    &:after {
      content: ' ';
      display: block;
      width: 4px;
      height: 4px;
      border: solid #444;
      border-width: 1px 1px 0 0;
      position: absolute;
      top: 0;
    }

    &.slick-prev {
      left: 10px;
    }

    &.slick-prev:after {
      transform: rotate(-135deg);
      left: 0;
    }
    &.slick-next:after {
      transform: rotate(45deg);
      right: 0;
    }

    &.slick-next {
      right: 10px;
    }
  }